<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel=" stylesheet" href="assets/css/blog.css">
</head>

<body>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid px-lg-5">
                <a href="https://dumbways.id">
                    <img src="assets/image/dw.png" width="40" alt="dumbways" /> </a>
                <button class="navbar-toggler" title="button" type="button" onclick="toggleShowNav()">

                    <i class=" fa-solid fa-bars" role="button" title="button"></i>
                </button>
                <div class=" collapse navbar-collapse mx-5">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a href="/" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item dropdown" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <a class="nav-link dropdown-toggle" href="/project" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Project
                            </a>
                            <ul class="dropdown-menu">
                                <li class=" nav-item">
                                    <a class="dropdown-item nav-link" href="/add-project">Add Project</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Another</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="testimonials.html" class="nav-link">Testimonials</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="border bg-warning p-sm-1 border-warning rounded-4">

                            <a href="/contact" class="nav-link">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="d-none" id="nav-sm" style="transition: all 0.3s;">

            <div class="p-4 bg-black bg-opacity-50 position-absolute w-100">

                <div class="d-flex flex-column align-items-center ">

                    <div class="text-black">
                        <a href="/" class="list-active nav-link text-white">
                            Home
                        </a>
                    </div>
                    <div class="text-black">

                        <a href="/contact" class="nav-link text-white">Contact</a>
                    </div>
                    <div class="border bg-warning ps-2 pe-2 border-warning rounded-4">
                        <a href="/project" class="nav-link text-white">Project</a>
                    </div>
                    <div class="text-black">
                        <a href="testimonials.html" class="nav-link text-white">Testimonials</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog -->
    <div class="blog-detail">
        <div class="blog-detail-container">
            <!-- <h1>Pasar Coding di Indonesia Dinilai Masih Menjanjikan</h1> -->
            <!-- <div class="author">23 Feb 2023 18:30 WIB | Muhammad Risky Fadhiila</div> -->
            <div class="header-content">
                <div class="img">
                    <img src="assets/image/tokyo-ghoul.jpg" alt=" detail" />
                </div>
                <div class="detail-content">
                    <div class="duration">
                        <div class="date">
                            <h3>Duration</h3>
                            <div class="flex">
                                <i class="fa-regular fa-calendar-days fa-xl"></i>
                                <p>12 Feb 2023 - 11 May 2023</p>
                            </div>
                            <div class="flex">
                                <i class="fa-regular fa-clock fa-xl"></i>
                                <p>1 month</p>
                            </div>
                        </div>
                        <div class="tech">
                            <h3>Technologies</h3>
                            <div class="flex-icon">
                                <div class="tech-i">
                                    <i class="fa-brands fa-node-js fa-xl"></i>
                                    <p>Node JS</p>
                                </div>
                                <div class="tech-i">
                                    <i class="fa-brands fa-react fa-xl"></i>
                                    <p>React JS</p>
                                </div>
                                <div class="tech-i">
                                    <i class="fa-brands fa-js fa-xl"></i>
                                    <p>Javascript</p>
                                </div>
                                <div class="tech-i">
                                    <i class="fa-solid fa-bolt"></i>
                                    <p>Thun</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="text-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde repudiandae fugit placeat
                    magnam harum, temporibus enim, nostrum eum aperiam provident iusto quae iure. Distinctio facilis
                    nisi recusandae laboriosam possimus aspernatur corrupti quas unde cupiditate atque, voluptate, aut,
                    eaque repellat eveniet illo vero ut eius beatae sint! Facilis architecto sequi quas, consequuntur,
                    saepe repudiandae natus, eius excepturi necessitatibus illo recusandae consequatur tempore a nam ab
                    ex autem neque earum quis.
                </p>
            </div>
        </div>
    </div>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/blog.js"></script>
</body>

</html>