<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/testimonial.css">
</head>

<body>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid px-lg-5">
                <a href="https://dumbways.id">
                    <img src="/public/image/dw.png" width="40" alt="dumbways" /> </a>
                <button class="navbar-toggler" title="button" type="button" onclick="toggleShowNav()">

                    <i class=" fa-solid fa-bars" role="button" title="button"></i>
                </button>
                <div class=" collapse navbar-collapse mx-5">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a href="/" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item dropdown" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <a class="nav-link dropdown-toggle" href="/project" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Project
                            </a>
                            <ul class="dropdown-menu">
                                <li class=" nav-item">
                                    <a class="dropdown-item nav-link" href="/add-project">Add Project</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Another</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="/testimonials" class="nav-link">Testimonials</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="d-flex">
                            {{if .DataSession.IsLogin}}
                            <li class="navbar-nav nav-item nav">
                                <a class="nav-link fs-5" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    HAY, {{.DataSession.Name}}
                                </a>
                            <li class="navbar-nav nav-item nav me-3">
                                <form id="myform" action="/logout" method="POST"></form>
                                <button onclick="document.getElementById('myform').submit()"
                                    class="btn btn-danger rounded-4">
                                    Logout
                                </button>
                            </li>
                            </li>


                            {{else}}
                            <li class="nav-item nav justify-content-center">
                                <a href="/login" class="nav-link text-decoration-none fs-5">Login</a>
                            </li>
                            <li class="nav-item nav justify-content-center">
                                <a href="/register" class="nav-link text-decoration-none fs-5">Signup</a>
                            </li>
                            {{end}}
                            <li class="nav-item nav justify-content-center border bg-warning ps-1 pe-1 border-warning
                                rounded-4">
                                <a href="/contact" class="nav-link text-decoration-none">Contact Me</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {{if .FlashMessage}} {{if .FlashStatus}}
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            <strong>{{.FlashMessage}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{else}}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            <strong>{{.FlashMessage}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{end}} {{end}}

    </div>

    <div class="d-none" id="nav-sm" style="transition: all 0.3s;">

        <div class="p-4 bg-black bg-opacity-50 position-absolute w-100">

            <div class="d-flex flex-column align-items-center ">

                <div class="text-black">
                    <a href="/" class="list-active nav-link text-white">
                        Home
                    </a>
                </div>
                <div class="text-black">

                    <a href="/contact" class="nav-link text-white">Contact</a>
                </div>
                <div class="text-black">
                    <a href="/project" class="nav-link text-white">Project</a>
                </div>
                <div class="border bg-warning ps-2 pe-2 border-warning rounded-4">
                    <a href="/testimonials" class="nav-link text-white">Testimonials</a>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-container">
        <h1>
            My Testimonials
        </h1>
        <div class="container-rating">
            <h2 style="text-align: center;"> Rating By Star</h2>
            <div class="rating">
                <button class="rating-btn" onclick="getAllTestimonials()">
                    All
                </button>
                <button class="rating-btn" onclick="filterTestimonials(1)">
                    1 <i class="fa-regular fa-star"></i>
                </button>
                <button class="rating-btn" onclick="filterTestimonials(2)">
                    2 <i class="fa-regular fa-star"></i>
                </button>
                <button class="rating-btn" onclick="filterTestimonials(3)">
                    3 <i class="fa-regular fa-star"></i>
                </button>
                <button class="rating-btn" onclick="filterTestimonials(4)">
                    4 <i class="fa-regular fa-star"></i>
                </button>
                <button class="rating-btn" onclick="filterTestimonials(5)">
                    5 <i class="fa-regular fa-star"></i>
                </button>
            </div>
        </div>
        <div class="testimonials">
            <section class="testimonials" id="testimonials">

            </section>
        </div>
    </div>
    <script src="/public/js/testimonial.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>